<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_page</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
  <section class="back">
  <center>
  <section class="card">
  <h2>Admin Page</h2>
   <div class="dropdown">
    <div class="dropdown-content">
  <a href="{{url_for('admin_login')}}">Login</a>
  <a href="{{url_for('admin_register')}}">Register</a>
  </div>
  </div>
  </section>
  </center>
  </section>
</body>
</html>