<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>  
    <section class="all">
     {% for product in products %}
        <div class="card">

    <img src="{{product[1]}}" alt="{{product[2]}}">

    <h3>{{product[2]}}</h3>

    <p class="price">₹{{product[3]}}</p>

    <p class="rating">⭐ {{product[4]}}</p>

    <a href="{{url_for('placeorder', product_id=product[0])}}">
        Place Order
    </a>

    <a href="{{url_for('cart', product_id=product[0])}}" style="margin-top:5px;">
        Add to cart
    </a>

</div>
        {% endfor %}
    </section>

</body>
</html>